<header class="bg-slate-50 py-5">
    <nav class="flex container mx-auto">
        <div class="flex-1"></div>
        <div class="flex-none text-lg"><a href="/">Logo</a></div>
        <ul class="flex flex-1 space-x-6 font-bold text-lg justify-end">
            <li><a href="/menu">Menu</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="#">Hamburger Menu</a></li>
        </ul>
    </nav>
</header>