<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Restaurant</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tailwind/index.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Header" />
    <div class="bg-zinc-100">
    @RenderBody()
    </div>
    <partial name="_Footer" />
    <!-- Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>