<section class="container mx-auto py-8">
    <h2 class="text-[32px] font-semibold">Sign Up to our Newsletter</h2>
    <p>Don't miss the discount and promotions and sign up now!</p>
    <form action="/" type="POST" class="mt-4">
        <div>
            <label for="newsletter_email">Email: </label>
            <input id="newsletter_email" name="email" type="email" />
        </div>
        
        <input type="submit" value="Sign Up" />
    </form>
</section>