@page "{id}"
@model DeleteNewsletterPageModel
@{
    ViewData["Title"] = "Delete Newsletter Subscription";
}

<section class="container mx-auto py-8">
    <div class="flex justify-between items-center mb-8">
        <div>
            <h1 class="text-4xl font-semibold mb-4">Stop subscription of "@Model.newsletter?.Email"</h1>
            <p class="text-xl font-light text-red-600">This action can't be undone. Do you want to proceed?</p>
        </div>
    </div>
    <form class="flex gap-4" method="post" >
        <button asp-page-handler="delete" class="mt-8 inline-block bg-red-600 shadow-md rounded hover:bg-red-500 active:bg-red-700 active:shadow-none active:translate-y-1 transition-all py-3 px-6 text-white font-semibold">Yes</button>
        <button asp-page-handler="cancel" class="mt-8 inline-block bg-gray-600 shadow-md rounded hover:bg-gray-500 active:bg-gray-700 active:shadow-none active:translate-y-1 transition-all py-3 px-6 text-white font-semibold">No</button>
        <input type="hidden" name="id" value="@Model.newsletter?.Id" />
    </form>
</section>