@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="container mx-auto text-center py-60 bg-zinc-100">
    <h1 class="text-[64px]">Welcome</h1>
    <h2 class="text-[32px]">Taste, Enjoy Life to the Fullest</h2>
</section>
<partial name="Menu/_IndexMenu" />
<partial name="Locations/_IndexLocations" />
<partial name="_Newsletter" />